@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
:root {
  --primary-color: #011627;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
}
* {
  box-sizing: inherit;
}
html {
  /* font-size: 62.5%; */
  font-size: 100%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 1670px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* Modal  */
.modal--unactive {
  display: none;
}
.modal__btn-close {
  border: 1px solid black;
  background-color: var(--white-color);
  font-size: 1.5rem;
}
.modal__btn-close:hover {
  background-color: red;
  color: var(--white-color);
  cursor: pointer;
  transition: ease-out 0.3s;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__body {
  /* width: 300px;
  height: 300px; */
  background-color: var(--white-color);
  margin: auto;
  z-index: 1;
  border-radius: 5px;
  border: 2px solid var(--black-color);
}
.main {
  display: flex;
}
.main__path {
  margin: 0 330px 0 250px;
  width: 100%;
}

/* GLOBAL CSS */
.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100% !important;
}

ol,
ul {
  list-style: none;
}

.text-center {
  text-align: center !important;
}

.bg-faded {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.bg-smoke {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.bg-green-faded {
  background-color: rgba(0, 255, 51, 0.15) !important;
}

.loading {
  z-index: 9999;
}

.dot {
  width: 10px;
  height: 10px;
}

.pointer {
  cursor: pointer;
}

.lineThrough {
  text-decoration: line-through;
}

