.historyorder__title {
  font-size: 1.8rem;
  margin: 10px 0;
  font-weight: 500;
}
.historyorder__time-list {
  display: flex;
  font-size: 1.4rem;
}
.historyorder__time-item {
  margin-right: 250px;
}
.historyorder__orderid {
  font-size: 1.4rem;
  margin: 10px 0;
}
.historyorder__orderid-input,
.historyorder__orderid-icon {
  margin: 0 10px;
  border: 1px solid black;
}
.historyorder__orderid-input {
}
.historyorder__orderid-icon {
  font-size: 2rem;
  font-weight: 500;
  transform: translateY(18%);
}
.historyorder__orderid-icon:hover {
  cursor: pointer;
  background-color: #011627;
  transition: ease-in 0.3s;
  color: var(--white-color);
}
.historyorder__table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.historyorder__header {
  background-color: #011627;
  color: #fff;
  font-weight: 500;
}
.historyorder__detail {
  height: 300px;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
  overflow-y: scroll;
}
.historyorder__body {
  text-align: center;
}
.historyorder__header th,
.historyorder__body td {
  padding: 3px 7px;
}
.historyorder__row {
  border-bottom: 1px solid #dddddd;
}
.historyoder__btn-cancel {
  border: 1px solid black;
  color: var(--white-color);
  background-color: red;
  font-size: 1.3rem;
  font-weight: 400;
}
.historyoder__btn-cancel:hover {
  cursor: pointer;
  opacity: 0.7;
}
.historyoder__btn-cancelicon {
  margin-left: 5px;
  transform: translateY(15%);
}
