.homepage {
  margin: 10px 0px 10px 0px;
  width: 98%;
}
.homepage__header {
  display: flex;
}
.homepage__header-item--title {
  font-size: 2rem;
  font-weight: 500;
}
.homepage__header-btn {
  display: flex;
  justify-content: flex-end;
}
.homepage__btn-add {
  padding: 10px 15px;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid black;
  color: black;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--white-color) 50%,
    var(--primary-color) 50%
  );
  transition: background-position 0.5s;
}
.homepage__btn-add:hover {
  cursor: pointer;
  color: var(--white-color);
  background-position: -100% 0;
}
.homepage__contain {
  display: flex;
  flex-wrap: wrap;
}
.homepage__order-link {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-size: 1.5rem;
  width: 93px;
  text-decoration: none;
}
.homepage__order-link:hover {
  opacity: 0.8;
}
/* MODAL OVERLAY */
.newtable__content-header {
  font-size: 1.7rem;
  text-align: center;
  margin: 10px 0;
}
.newtable__content {
  width: 350px;
  margin: 5px 10px;
}
.newtable__content-list {
  font-size: 1.3rem;
}
.newtable__form {
  border: 0.5px solid black;
  padding: 10px 12px;
}
.newtable__content-btn {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.newtable__btn {
  width: 100px;
  padding: 10px 15px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}
.newtable__btn--add {
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--white-color) 50%,
    green 50%
  );
  transition: background-position 0.5s;
}
.newtable__btn--cancle {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, var(--white-color) 50%, red 50%);
  transition: background-position 0.5s;
}
.newtable__btn:hover {
  background-position: -100% 0;
  color: var(--white-color);
  cursor: pointer;
}

.table-available {
  background-color: blue;
  color: white;
}

.table-broken {
  background-color: darkgray;
}

.table-used {
  background-color: rgb(153, 18, 18);
}

.table-active-border {
  transform: scale(0.9);
  transition: all 1s !important;
  opacity: 0.8;
}
