/* Header */
.drinktable__header-content {
  display: flex;
  font-size: 1.5rem;
  width: 100%;
}
.drinktable__header-list {
  width: 40%;
}
.drinksearch__form {
  width: 100%;
  border: 0.5px solid black;
  padding: 10px 12px;
}
.drinksearch__form--category {
  font-size: 1.3rem;
  transform: translateY(3%);
}
.drinktable__header-search {
  display: flex;
  margin-left: 50px;
  width: 60%;
}
.drinktable__header-item--left {
  width: 80%;
  margin-right: 10px;
}
.drinktable__header-item--icon {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
.drinktable__header-searchicon {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  transform: translateY(12%);
  font-size: 3.4rem;
  width: 100%;
  height: 77%;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--white-color) 50%,
    var(--primary-color) 50%
  );
  transition: background-position 0.5s;
}
.drinktable__header-searchicon:hover {
  cursor: pointer;
  color: var(--white-color);
  background-position: -100% 0;
}
/* Table Layout */
.drinktable__table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.drinktable__header {
  background-color: #011627;
  color: #fff;
  font-weight: 500;
}
.drinktable__detail {
  height: auto;
  max-height: 300px;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
  overflow-y: scroll;
}
.drinktable__body {
  text-align: center;
}
.drinktable__header th,
.drinktable__body td {
  padding: 3px 7px;
}
.drinktable__row {
  border-bottom: 1px solid #dddddd;
}
/* Button Layout */
/* Button Cancel */
.drinktable__btn-cancel {
  border: 1px solid black;
  color: var(--white-color);
  background-color: red;
  font-size: 1.3rem;
  font-weight: 400;
}
.drinktable__btn-cancel:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: ease-in 0.2s;
}
.drinktable__btn-cancelicon {
  transform: translateY(15%);
}
/* Button Edit */
.drinktable__btn-edit {
  border: 1px solid black;
  color: var(--white-color);
  background-color: green;
  font-size: 1.3rem;
  font-weight: 400;
  margin: .2rem;
}
.drinktable__btn-edit:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: ease-in 0.2s;
}
.drinktable__btn-editicon {
  transform: translateY(15%);
}
/* New Drink */
.drinktable__header-btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.drinktable__btn-add {
  padding: 10px 15px;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid black;
  color: black;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--white-color) 50%,
    var(--primary-color) 50%
  );
  transition: background-position 0.5s;
}
.drinktable__btn-add:hover {
  cursor: pointer;
  color: var(--white-color);
  background-position: -100% 0;
}


