.header {
    height: 50px;
    /* background-image: linear-gradient(0, #fe6433, #f53e2d); */
    background-color: #011627;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    height: 100%;
    list-style: none;
    padding-left: 0;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong {
    font-weight: 800;
}
.header__navbar-icon {
    font-size: 1.8rem;
    transform:translateY(15%);
}
.header__navbar-logo-no-hover:hover{
    cursor: pointer;
    color: var(--white-color);
}
/* Thanh chắn ngang Log out và About */
.header__navbar-item--seperate::after {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}