.viewcustomer__content-header {
  font-size: 1.7rem;
  text-align: center;
  margin: 10px 0;
}
.viewcustomer__content {
  width: 350px;
  margin: 5px 10px;
}
.viewcustomer__content-list {
  font-size: 1.3rem;
}
.viewcustomer__input {
  text-align: center;
  justify-content: center;
  font-weight: 500;
  padding: 10px 15px;
  border: 1px solid black;
  font-size: 1.5rem;
}
.viewcustomer__input--active {
  color: green;
}
.viewcustomer__input--deactive {
  color: red;
}
.viewcustomer__input:hover {
  cursor: default;
}
.viewcustomer__select {
  width: 100%;
  border: 0.5px solid black;
  padding: 10px 12px;
  font-size: 1.3rem;
}
.viewcustomer__content-btn {
  margin: 20px 0 10px 0;
  display: flex;
  /* justify-content: space-between; */
  padding: 0 30px;
}
.viewcustomer__btn {
  width: 100px;
  padding: 10px 15px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}
.viewcustomer__btn--close {
  margin: auto;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--white-color) 50%,
    var(--primary-color) 50%
  );
  transition: background-position 0.5s;
}
.viewcustomer__btn:hover {
  background-position: -100% 0;
  color: var(--white-color);
  cursor: pointer;
}
