.editprofile__content-header {
  font-size: 1.7rem;
  text-align: left;
  margin: 10px 0;
}
.editprofile__content {
  width: 350px;
  margin: 5px 10px;
}
.editprofile__content-list {
  font-size: 1.3rem;
}
.editprofile__form {
  width: 100%;
  border: 0.5px solid black;
  padding: 10px 12px;
}
.editprofile__select {
  width: 100%;
  border: 0.5px solid black;
  padding: 10px 12px;
  font-size: 1.3rem;
}
.editprofile__content-btn {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.editprofile__btn {
  padding: 5px 15px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}
.editprofile__btn--add {
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--white-color) 50%,
    green 50%
  );
  transition: background-position 0.5s;
}
.editprofile__btn--cancle {
  margin-left: 20px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, var(--white-color) 50%, blue 50%);
  transition: background-position 0.5s;
}
.editprofile__btn:hover {
  background-position: -100% 0;
  color: var(--white-color);
  cursor: pointer;
}
/* Error */
